@import '~aos/dist/aos.css';

/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.ttf');
}

/* Global Styles */
body,
html {
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato-Regular', sans-serif;
  letter-spacing: 0.22px;
  -webkit-tap-highlight-color: transparent;
}

.grecaptcha-badge {
  visibility: collapse !important;
}

@media only screen and (max-width 600px) {
  body,
  html {
    letter-spacing: 0.19px;
  }
}
